.plotHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  height: 25vw;
  position: relative;
  top: 1.25vw;
  left: 54vw;
  border: solid 3px  rgb(8, 218, 229);
  border-radius: 1vw;
  background-color: white;
}



.averageLabel {
  font-size: .75vw;
}
.bestWeek {
  border: 2px solid gold;
  box-shadow: 0 0 8px gold;
}

.dayLabel {
  margin-top: 0.3vw;
  font-size: 0.8vw;
}

.deltaLabel {
  font-size: 0.7vw;
  margin-top: 0.3vw;
  color: #555;
}



.progressBars {
  display: flex;
  gap: 2.5vw;
  align-items: flex-end;
  height: 200px;
  position: relative;
  top: 13vw;
  align-items: flex-end;
 
}

.progressBar {
  width: 1.5vw;
  background-color: #4caf50;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: .5vw; 
  transition: height 0.2s ease-in-out; 

}
.barAnchor {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.barContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;

}

.barValue {
  font-size: 1vw;
  color: #333;
}

.graphDisplay {
  width: 000000.1vw;
  background-color:#ffffff00;
  position: relative;
  bottom: 49vw;
}

.lineGraph {
  background-color: #f9f9f9;
  border: 1px solid #ccc; 
  margin-top: 20px;
  width: 44vw;
  height: 24.5vw;
  border-radius: 1vw;
  position: relative;
  bottom: .5vw;
}



@media (max-width:1920px){
.dayLabelsPlot {
  
}
h3 {
 
}
.lineGraph {
  
}
.plotHolder {
        
}

.progressBars {

  top: 12vw;
  
 
}



.dayLabel {
  width: 3vw;
}
.barValue {
  font-size: 1.25vw;
  color: #333;
}



}
@media (max-width : 1660px)  {

  h3 {
    position: relative;
    top: .5vw;
  }
    .plotHolder {

}
.averageLabel {
  font-size: .9vw;
}

.progressBars {
  gap:4.75vw;
  top: 8.5vw;
 
}

.progressBar {
  width: 1.5vw;
  background-color: #4caf50;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: .5vw; 
  transition: height 0.5s ease-in-out; 

}



.barValue {
  font-size: 1.25vw;
  color: #333;
}

.graphDisplay {
  width: 000000.1vw;
  background-color:#ffffff00;
  position: relative;
  bottom: 49vw;
}

.lineGraph {
  background-color: #f9f9f9;
  border: 1px solid #ccc; 
  width: 44vw;
  height: 25vw;
  border-radius: 1vw;
  position: relative;
  bottom: .5vw;
  
  
}
.dayLabel {
  position: relative;
  
  width: 1vw;
  font-size: 1vw;
}
}
@media (max-width :1440px) {
  .plotHolder {

}

.progressBars {
  gap:5vw;
  top: 10.75vw;
 
}

.progressBar {
  width: 1.5vw;
  background-color: #4caf50;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: .5vw; 
  transition: height 0.5s ease-in-out; 

}



.barValue {
  font-size: 1.25vw;
  color: #333;
}

.graphDisplay {
  width: 000000.1vw;
  background-color:#ffffff00;
  position: relative;
  bottom: 49vw;
}

.lineGraph {
  background-color: #f9f9f9;
  border: 1px solid #ccc; 
  width: 44vw;
  height: 25vw;
  border-radius: 1vw;
  position: relative;
  bottom: .5vw;
  
  
}
.dayLabel {
  position: relative;
  
  width: 1vw;
  font-size: 1vw;
}
}
@media (max-width: 1150px) {
    .plotHolder {

}
.progressBars {
  gap:4vw;
  top: 5vw;
 
}
.lineGraph {
  background-color: #f9f9f9;
  border: 1px solid #ccc; 
  width: 44vw;
  height: 25vw;
  border-radius: 1vw;
  position: relative;
  bottom: .5vw; 
}
}







/*daily will be bar chart and so will weekly 
/* monthly will be the plot points */