.plotHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  height: 25vw;
  position: relative;
  top: 1.25vw;
  left: 54vw;
  border: solid 3px purple;
  border-radius: 1vw;
  background-color: white;
}

.progressBars {
  display: flex;
  gap: 3.5vw;
  align-items: flex-end;
  height: 200px;
  position: relative;
  top: 14.75vw;
 
}

.progressBar {
  width: 1.5vw;
  background-color: #4caf50;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-height: .5vw; 
  transition: height 0.5s ease-in-out; 

}

.barContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;

}

.barValue {
  font-size: 0.8rem;
  color: #333;
}

.graphDisplay {
  width: 000000.1vw;
  background-color:#ffffff00;
  position: relative;
  bottom: 49vw;
}

.lineGraph {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin-top: 20px;
  width: 44vw;
  height: 24.5vw;
  border-radius: 1vw;
  position: relative;
  bottom: .5vw;
}












/*daily will be bar chart and so will weekly 
/* monthly will be the plot points */