body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f2f5;
  font-family: 'Segoe UI', sans-serif;
}



.mainPage {

width: 100%;
max-height: 100vh ;
background-color:rgb(0, 154, 238);
}
.btn-group {
  position: relative;
  left: 2vw;
  bottom: 3vw;
  width: 30vw;

  

}
.btn {
  background-color: rgb(255, 255, 255);;
    color:black;
    border: .22vh solid;
    border-color: rgb(8, 218, 229);
    border-radius: 1vw;
}


/****/

.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 7vw;
  height: 1.75vw;
  border: .22vh solid rgb(8,218,229);
  border-radius: 1vw;
  position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
    left: 37.5vw;
    top: 2.25vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 8vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 1vw;
  overflow: auto;
  padding-left: 1vh;

}

/* Links inside the dropdown */
.dropdown-content button {
  color: black;
  width: 7vw;
  height: 2vw;
  text-decoration: none;
  display: block;
  border-radius: 1vw;
}

.dropdown-content span{
  color: black;
  width: 7vw;
  height: 1.75vw;
  text-decoration: none;
  display: block;
  padding-top: 1vh;
  padding-bottom: .25vh;
  text-decoration: underline;
}


.settingsBtn {
  position: relative;
  width: 5vw;
  background-color:#ffff;
  border: .25vh solid rgb(8,218,229);
  border-radius: 1vw;
  left: 87vw;
  bottom: 87vw;

}


/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: rgb(0, 154, 238);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
  text-align: center;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(0, 154, 238);}





  /****/




.welcome {
  position: relative;
  left: 5vw;
  text-align: center;
  color:white;
  padding-top: 1vw;
  width: 25vw;
  height: 2.5vw;
  
  

}


/*************************************/



.habitTracking {
  display: block;
  background-color: white;
  width: 12vw;
  height: 25vw;
  position: relative;
  left: 40vw;
  bottom: 20.5vw;
  text-align: center;
  border: solid rgb(8, 218, 229);
  border-radius: 1vw;
}

.habbits {
  display: flex;
  flex-direction: column;
  border: none;
  gap: .5vw;
  
}

.habbits button {
  background-color: #0277CF;
  color: snow;
  border: none;
  padding-top: .25vw;
  padding-bottom: .25vw;
  border: solid lightblue .1vh;
  border-radius: 1vw;
  width: 10vw;
  position: relative;
  left: 1vw;
 
}

.habbits button:hover {
  background-color: rgb(114, 206, 255);
}

.habitTracking h4 {
  color:black;
}






.loginWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}


/* Center the login form */
.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}



/* Input styling */
.loginForm input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button styling */
.loginForm button {
  width: 100%;
  padding: 0.75rem;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.loginForm button:hover {
  background-color: #005ea2;
}

/* Error message */
.loginForm p {
  color: red;
  margin-top: 0.5rem;
}


/* .logo {
  background-image:url('images/Logo.webp');
  width: 27.5vw;
  height: 20vw;
  position: relative;
  
  transform: scale(.25);
  
} */


/* Dropdown Button */
/*keep plot graph and add connections*/